<div class="container mx-auto pt-4">
  <h1 class="text-3xl font-semibold mb-4">Magic Cards</h1>
  <app-form-search-collection (collectionEvent)="setListCollections($event)"></app-form-search-collection>
  <ng-container *ngIf="!isCardListRender">
    <app-collection-list  (codeChooseHandling)="collectionChoose($event)" [listCollection]="listCollection"></app-collection-list>
  </ng-container>
  <ng-container *ngIf="isCardListRender">
    <app-card-list [listCards]="listCards"></app-card-list>
  </ng-container>
</div>


<router-outlet />
